
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {

  background-image: url("/img/oldwood.webp");
  background-color: rgb(39, 37, 37);
}



.card {
  width: 99%;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  display: flex;
}

.food-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.logo {
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.logo img {
  width: 30%;
}

.w-40 {
  width: 49%!important;
}

p {
  font-size: 12px;
}

.card-title.h5 {
  font-size: 14px!important;
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal; 
}

.prices {
  width: 65%;
}