

body {

  background-image: url("/img/oldwood.webp");
  background-color: rgb(39, 37, 37);
}

.card {
  width: 75%;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  display: flex;
}

.food-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.logo {
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.logo img {
  width: 30%;
}

.w-40 {
  width: 40%!important;
}

p {
  font-size: 9px;
}

.card-title.h5 {
  font-size: 12px!important;
}